page-login-slides {
    @include background-image('bgLoginSlides', false);

    ion-slides {
        ion-slide {
            &.swiper-slide {
                display: block;
                .slide-zoom {
                    height: 100%;
                    position: relative;
                    text-align: left;
                }
            }
            .slide-title {
                padding-top: 16*3px !important;
                text-align: left;
                font-size: 48px;
                font-weight: lighter;
                + p {
                    width: 90%;
                    margin-top: 16*5px;
                    font-weight: normal;
                    text-shadow: 2px 0 2px rgba(#000000, .75);
                }
            }
            .slide-footer {
                position: absolute;
                bottom: 24px; left: 0; right: 0;
            }
        }
    }
}
