<ion-content no-padding>
  <ion-slides pager>
    <ion-slide padding>
      <h2 class="slide-title">Planifiez votre voyage</h2>
      <p>Dites-nous ce que vous aimez, nous nous occupons du reste...</p>

      <section class="slide-footer" text-center>
        <button ion-button (click)="openLoginPage()">Let's go!</button>
      </section>
    </ion-slide>

    <ion-slide padding>
      <h2 class="slide-title">Découvrez en vous amusant</h2>
      <p>Tracez votre chemin avec notre jeu de piste !</p>

      <section class="slide-footer" text-center>
        <button ion-button (click)="openLoginPage()">Let's go!</button>
      </section>
    </ion-slide>

    <ion-slide padding>
      <h2 class="slide-title">Rejoignez la communauté</h2>
      <p>Dormez chez l'habitant et échangez avec les autres backpackers !</p>

      <section class="slide-footer" text-center>
        <button ion-button (click)="openLoginPage()">Let's go!</button>
      </section>
    </ion-slide>
  </ion-slides>
</ion-content>
