page-login {

  /*@include background-image('bgLoginSlides', false);*/
  ion-item {
    padding-left: 0 !important;
  }

  // Buttons Login With full size
  .button-full {
    .item-inner { padding-right: 0 !important; }
    ion-label {
      &.label {
        margin-right: 0 !important;
      }
    }

    .create-account {
      margin-top: 8px;
      text-align: center;
      a {
        color: color($colors, dark);
        text-decoration: underline;
      }
    }
  }

  // SOURCE : http://codepen.io/davidelrizzo/pen/vEYvyv?css-preprocessor=less
  /* Shared */
  .btn-login {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0.2em 0;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 38px;
      height: 100%;
    }
    &:focus {
      outline: none;
    }
    &:active {
      box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }

    /* Facebook */
    &.btn-login-facebook {
      background: #4C69BA linear-gradient(#4C69BA, #3B55A0);
      text-shadow: 0 -1px 0 #354C8C;
      &:before {
        border-right: #364e92 1px solid;
        background: url('../assets/icon/facebook-icon.png') 6px 6px no-repeat;
      }
      &:hover,
      &:focus {
        background: #5B7BD5 linear-gradient(#5B7BD5, #4864B1);
      }
    }

    /* Google */
    &.btn-login-google {
      background: #DD4B39;
      &:before {
        border-right: #BB3F30 1px solid;
        background: url('../assets/icon/google-icon.png') 6px 6px no-repeat;
      }
      &:hover,
      &:focus {
        background: #E74B37;
      }
    }
  }
}
