<ion-header>
    <ion-navbar color="dark">
      <ion-title>
          Connexion
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Mon adresse e-mail</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Mon mot de passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item class="button-full" margin-top margin-bottom no-lines>
      <button ion-button full outline padding (click)="showAlert('default')">
        Me connecter avec mes identifiants
      </button>
    </ion-item>

    <hr>

    <ion-item class="button-full" margin-top no-lines>
      <button class="btn-login btn-login-facebook" (click)="fbLogin()">Me connecter avec Facebook</button>
      <button class="btn-login btn-login-google" (click)="showAlert('google')">Me connecter avec Google</button>

      <div class="create-account">
        <a>Créer mon compte</a>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
