<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="header-title">
      <span>Contacter {{host.first_name}} {{host.last_name.charAt(0)}}.</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="this.viewCtrl.dismiss()">
        <span ion-text color="primary" showWhen="ios">Fermer</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="host-modal" padding>
  <div class="background-cover">
    <div [style.backgroundImage]="'url(' + host.cover + ')'" padding-top text-center>
      <div padding-top>
        <h2>{{host.name}}</h2>
        <img [src]="host.picture" [alt]="host.name" width="80" height="80" margin-bottom>
        <p no-margin="">{{host.city}},<br>à {{host.coords_km}} km de vous.</p>
      </div>
    </div>
  </div>

  <ion-list class="list-cover">
    <ion-item-group>
      <ion-item-divider>
        <ion-icon name="information" margin-right></ion-icon>
        Informations sur l'hôte
      </ion-item-divider>

      <ion-item no-lines>
        <ion-icon name="people" item-left></ion-icon>
        {{host.capacity}} personne{{host.capacity > 1 ? 's' : ''}}
      </ion-item>

      <a ion-item full color="primary" [href]="gmapHref">
        Me rendre chez {{host.first_name}}
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </a>
    </ion-item-group>
  </ion-list>
</ion-content>
