<ion-tabs #appTabs id="tabsMenu" color="dark">
  <ion-tab [root]="tabHome" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabPlan" [rootParams]="tabParams" tabIcon="paper-plane" [tabBadge]="hasTravel" (ionSelect)="determineTabPlan()"></ion-tab>
  <ion-tab [root]="tabProfile" tabIcon="person"></ion-tab>
</ion-tabs>
