<ion-header>
  <ion-navbar color="dark">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header-title">
      <span>Continuer ? Dormir ?</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



</ion-content>
