page-profile-user {

  ion-content {
    .scroll-content {
      background-color: color($colors, dark);
    }
    ion-list {
      ion-item {
        ion-label {
          overflow: visible;
          white-space: normal;
          text-align: justify;
        }
      }
    }
  }

}
