<ion-header>
  <ion-navbar color="dark">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header-title">
      <span>Mon profil</span>
      <span class="emoji animated swing">😛</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="transparent" padding>

  <div class="background-cover">
    <div [style.backgroundImage]="'url(' + user.cover + ')'" padding-top text-center>
      <div padding-top>
        <h2>{{user.name}}</h2>
        <img [src]="user.picture" [alt]="user.name" width="80" height="80" margin-bottom>
        <p no-margin="">{{user.city}} - France</p>
        <p no-margin>
          <ion-icon name="heart" color="danger" margin-right></ion-icon>
          {{formated_likes}}
        </p>
      </div>
    </div>
  </div>

  <ion-list class="list-cover" no-lines>
    <ion-item-group>
      <ion-item-divider>
        Informations publiques
      </ion-item-divider>
      <ion-item>
        <strong>Nom:</strong><br>
        {{user.name}}
      </ion-item>
      <ion-item *ngIf="user.gender">
        <strong>Sexe:</strong><br>
        {{user.gender}}
      </ion-item>
      <ion-item>
        <strong>Ville:</strong><br>
        {{user.city}}
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Informations non-publiques
      </ion-item-divider>
      <ion-item *ngIf="user.email">
        <strong>E-mail:</strong><br>
        {{user.email}}
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        Informations partagées
      </ion-item-divider>
      <ion-item>
        <strong>Adresse:</strong>
        {{user.address}}
      </ion-item>
    </ion-item-group>

  </ion-list>

  <button ion-button full *ngIf="firstLogin" (click)="goHome()">Continuer vers la page d'accueil</button>

</ion-content>
