<ion-header>

  <ion-navbar color="dark">
    <ion-title>Compléter mon profil: <small>1 sur 2</small></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label color="primary" stacked>Prénom</ion-label>
            <ion-input type="text" [value]="user.first_name" disabled></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item no-lines>
            <ion-label color="primary" stacked>Nom</ion-label>
            <ion-input type="text" [value]="user.last_name" disabled></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label color="primary" floating>E-mail</ion-label>
            <ion-input type="mail" [(ngModel)]="user.email" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label color="primary" floating>Numéro de téléphone</ion-label>
            <ion-input type="tel" [(ngModel)]="user.mobile" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label color="primary" floating>Adresse postale</ion-label>
            <ion-input type="text" [(ngModel)]="user.address" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row margin-top>
        <ion-col>
          <ion-buttons end>
            <button ion-button (click)="submitForm()">Étape suivante</button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>
