<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="header-title">
      <span>Informations sur l'étape</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="this.viewCtrl.dismiss()">
        <span ion-text color="primary" showWhen="ios">Fermer</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="modal">

  <div class="background-cover">
    <div [style.backgroundImage]="'url(assets/steps/step_' + step.id + '.jpg)'" padding-top text-center>
      <div padding>
        <h2 text-left no-margin>{{step.name}}</h2>
        <h6 text-left no-margin>{{step.city}} - {{step.zip_code}}</h6>
      </div>
      <div margin-top padding>
        <h6 text-left>{{ step.price > 0 ? "Tarif de la visite : " + step.price + "€" : "Visite gratuite"}}</h6>
      </div>
    </div>
  </div>

  <ion-list class="list-cover">
    <ion-item-group>
      <ion-item-divider>
        <ion-icon name="information" item-left></ion-icon>
        Informations
      </ion-item-divider>
      <a ion-item [href]="'https://www.google.com/maps/place/' + step.address + '/@' + step.coords.lat + ',' + step.coords.lng">
        <b>Adresse :</b>
        <div text-justify>{{step.address}}, {{step.zip_code}}, {{step.city}}</div>
        <ion-icon name="locate" small item-right></ion-icon>
      </a>
      <a ion-item [href]="'tel:' + step.contact_number">
        <b>Téléphone :</b><br>
        {{step.contact_number}}
        <ion-icon name="call" small item-right></ion-icon>
      </a>
      <a ion-item [href]="step.website">
        <b>Site Internet</b>
        <ion-icon name="globe" small item-right></ion-icon>
      </a>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-icon name="calendar" item-left></ion-icon>
        Horaires
      </ion-item-divider>
      <ion-item id="horaires-monday">
        <b>Lundi :</b>
        <span [innerHTML]="formatHeures('monday')"></span>
      </ion-item>
      <ion-item id="horaires-thuesday">
        <b>Mardi :</b>
        <span [innerHTML]="formatHeures('thuesday')"></span>
      </ion-item>
      <ion-item id="horaires-wednesday">
        <b>Mercredi :</b>
        <span [innerHTML]="formatHeures('wednesday')"></span>
      </ion-item>
      <ion-item id="horaires-thursday">
        <b>Jeudi :</b>
        <span [innerHTML]="formatHeures('thursday')"></span>
      </ion-item>
      <ion-item id="horaires-friday">
        <b>Vendredi :</b>
        <span [innerHTML]="formatHeures('friday')"></span>
      </ion-item>
      <ion-item id="horaires-saturday">
        <b>Samedi :</b>
        <span [innerHTML]="formatHeures('saturday')"></span>
      </ion-item>
      <ion-item id="horaires-sunday">
        <b>Dimanche :</b>
        <span [innerHTML]="formatHeures('sunday')"></span>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
