<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header-title">
      <span>Lancez votre chasse !</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <div class="title">
    <h4 padding-left>Étape du jour</h4>

    <button class="infoStep" ion-item no-lines color="dark" (click)="showInfo()">
      <h4>
        <b id="stepName"></b><br>
        <em id="stepCity"></em>
      </h4>
      <ion-icon name="information-circle" item-right></ion-icon>
    </button>
  </div>

  <div class="map-container">
    <div id="floating-panel">
      <ion-buttons start>
        <button ion-button color="light" icon-only (click)="changeMode('WALKING')">
          <ion-icon name="md-walk"></ion-icon>
        </button>
        <button ion-button color="light" icon-only (click)="changeMode('BICYCLING')">
          <ion-icon name="md-bicycle"></ion-icon>
        </button>
        <button ion-button color="light" icon-only (click)="changeMode('TRANSIT')">
          <ion-icon name="md-bus"></ion-icon>
        </button>
      </ion-buttons>
    </div>

    <div #map id="map"></div>
  </div>

  <ion-list no-padding>
    <button ion-item no-lines color="warning" (click)="goStepSearch()">
      Je suis sur place, passer à la chasse !
      <ion-icon name="ios-arrow-forward"small item-right></ion-icon>
    </button>

    <ion-item-group>
      <ion-item-divider>Itinéraire vers "{{step.name}}"</ion-item-divider>

      <button ion-item (click)="changeMode('WALKING')">
        <ion-icon name="md-walk"></ion-icon>
        <span id="trajetWALKING" margin-left>Trajet à pied</span>
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </button>

      <button ion-item (click)="changeMode('BICYCLING')">
        <ion-icon name="md-bicycle"></ion-icon>
        <span id="trajetBICYCLING" margin-left>Trajet à vélo</span>
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </button>

      <button ion-item (click)="changeMode('TRANSIT')">
        <ion-icon name="md-bus"></ion-icon>
        <span id="trajetTRANSIT" margin-left>Trajet en transports</span>
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </button>

      <a ion-item color="dark" [href]="gmapHref">
        <span>Ouvrir dans Google Maps</span>
        <ion-icon name="expand" small item-right></ion-icon>
      </a>
    </ion-item-group>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <h4>Itinéraire détaillé :</h4>
      <div #directionsPanel></div>
    </ion-card-content>
  </ion-card>

</ion-content>
