page-voyage-map {

  .scroll {
    height: 100%;
  }
  .scroll-content {
    background-color: color($colors, dark);
  }
  .title {
    color: #FFFFFF;
  }

  .map-container {
    height: 50%;
    position: relative;
    #floating-panel {
      position: absolute;
      left: 30%;
      z-index: 5;
      padding: 5px;
      text-align: center;
      font-family: 'Roboto', 'sans-serif';
      line-height: 30px;
      padding-left: 10px;

      button {
        font-weight: normal !important;
      }
    }

    #map {
      width: 100%;
      height: 100%;
    }
  }

  ion-card {
    z-index: 1;
    .adp-text {
      text-align: center;
    }
    .warnbox-content {
      text-align: justify;
    }
  }

}
