page-hotes-map {

  .scroll {
    height: 100%;
  }

  #map {
    width: 100%;
    height: 50%;
  }

  ion-content {
    .content-title {
      color: #FFFFFF !important;
      background-color: color($colors, dark);
    }
  }

}
