<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header-title">
      <span>Dormir chez un hôte</span>
      <span class="emoji animated swing">🛌</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="content-title" padding>
    <h4 no-margin>Liste des hôtes à proximité :</h4>
    <p no-margin>Sélectionnez l'hôte de votre choix parmis la liste.</p>
    <hr>
    <button ion-button small color="light" (click)="nouvelleEtape()">Nouvelle étape</button>
  </div>

  <div id="map" #map></div>

  <ion-list>
    <ion-item-group *ngIf="hosts">
      <ion-item-divider>
        <ion-icon name="pin" margin-right></ion-icon>
        {{hosts.length}} hôtes à proximité de votre position
      </ion-item-divider>

      <button *ngFor="let key of hosts | ObjNgFor" ion-item (click)="viewProfile(hosts[key])">
        <ion-avatar item-left>
          <img [src]="hosts[key].picture" [alt]="hosts[key].name">
        </ion-avatar>
        <h2>{{hosts[key].name}} - <small><span [innerHTML]="calcAge(hosts[key].birthdate)"></span> ans</small></h2>
        <p>à {{hosts[key].coords_km}} km - {{hosts[key].capacity}} personne{{hosts[key].capacity > 1 ? 's' : ''}}</p>
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </button>

    </ion-item-group>
  </ion-list>

</ion-content>
