page-organiser {

    @include background-image('bgOrganiserSteps', true);
    
    h4 {
        display: block;
        text-align: center;
        font-weight: lighter;
        color: #ffffff;
    }

    ion-range {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    ion-content {
        color: #FFFFFF;
    }

    .datepicker {
        border-radius: 4px;
        background-color: rgba(#000000, .5);
        border-spacing: 2px;
        text-align: center;
        padding: 16px 0;
        ion-datetime {
            padding-left: 8px;
        }
    }

    .steps {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        padding-top: 12px;
    }

    .buddies {
        font-size: 24px;
        border-radius: 8px;
        background-color: rgba(#000000, .5);
    }
}
