<ion-header>
    <ion-navbar color="dark">
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="header-title">
          <span>Planifier</span>
          <span class="emoji animated swing">✈</span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="travel_data" (ngSubmit)="alertDev()">

      <ion-row>
        <ion-col>
          <ion-buttons start>
            <button type="button" ion-button small color="dark" (click)="cancel()">Annuler</button>
          </ion-buttons>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row margin-top>
        <ion-col>
          <h4>Dates de voyages</h4>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-5 class="datepicker">
          Début du voyage
          <ion-datetime displayFormat="DD/MM/YY" min="2017" max="2018" formControlName="arrival_at" no-padding></ion-datetime>
        </ion-col>
        <ion-col col-6 offset-1 class="datepicker">
          Retour à la maison
          <ion-datetime displayFormat="DD/MM/YY" min="2017" max="2018" formControlName="departure_at" no-padding></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row margin-top>
        <ion-col>
          <h4>Budget: {{budget}} € / $ {{budgetDollars(budget)}}</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-range min="50" max="1000" step="50" pin="true" formControlName="budget" [(ngModel)]="budget">
            <ion-icon small range-left name="md-remove"></ion-icon>
            <ion-icon range-right name="md-add"></ion-icon>
          </ion-range>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row margin-top>
        <ion-col col-6>
          <h4 text-left>Combien<br>êtes-vous ?</h4>
        </ion-col>
        <ion-col col-6>
          <ion-input type="number" formControlName="buddies" class="buddies" text-center></ion-input>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row text-right>
        <ion-col>
          <button ion-button full type="submit">Étape suivante</button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>

</ion-content>
