<ion-header>
    <ion-navbar color="dark">
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="header-title">
          <span>Accueil</span>
          <span class="emoji animated swing">🤙</span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid id="infoTraffic" no-margin>
      <ion-row>
          <ion-col>
              <section class="title">
                  <h2>Infotrafic</h2>
                  <small margin-left>en ce moment</small>
              </section>

              <ion-row margin-top>
                  <ion-col col-2 no-padding>
                      <ion-icon name="train" class="bigIcon"></ion-icon>
                  </ion-col>
                  <ion-col *ngIf="trafic" col-10 no-padding>
                      <div padding-bottom>
                          <ion-segment [(ngModel)]="defaultInfo">
                              <ion-segment-button *ngFor="let line of trafic" [value]="line.mode.toLowerCase()">{{line.mode}}</ion-segment-button>
                          </ion-segment>
                      </div>
                      <div [ngSwitch]="defaultInfo">
                          <div *ngFor="let mode of trafic">
                              <ion-list *ngSwitchCase="mode.mode.toLowerCase()">
                                  <div *ngFor="let news of mode.lines; let i = index" class="icon_trafic">
                                      <span *ngIf="i<3" (click)="newsShowMore(mode)" class="news_line">
                                          <img [src]="lineIcon(mode.mode, news.id)" width="24" height="24" margin-right>
                                          <span class="news_label">{{newsText(news.newsLabel)}}</span>
                                      </span>
                                  </div>
                                  <div text-right>
                                      <button ion-button small color="warning" *ngIf="mode.lines.length>3" (click)="newsShowMore(mode)">+ {{newsCountMore(mode.lines.length)}}</button>
                                  </div>
                              </ion-list>
                          </div>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-col>
      </ion-row>
  </ion-grid>
  <hr>
  <ion-grid *ngIf="meteo.main">
    <ion-row>
      <ion-col>
        <section class="title">
          <h2>Météo</h2>
          <small margin-left>{{meteo.name}}</small>
        </section>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <div class="owi-4x">{{meteo.main.temp}}<sup><small>°C</small></sup></div>
      </ion-col>
      <ion-col col-4 text-center>
        <i [class]="'owi owi-4x owi-' + meteo.weather[0].icon"></i>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <div>
          <ion-icon name="arrow-dropdown"></ion-icon>
          Min: {{meteo.main.temp_min}}<sup>°C</sup>
        </div>
        <div>
          <ion-icon name="arrow-dropup"></ion-icon>
          Max: {{meteo.main.temp_max}}<sup>°C</sup>
        </div>
      </ion-col>
      <ion-col col-7>
        <span text-capitalize>{{meteo.weather[0].description}}</span><br>
        <span>Vent: {{meteo.wind.speed}} km/h</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
