page-home {
    // fond d'écran
    @include background-image('bgPageHome', true);

    ion-segment-button.segment-button {
        opacity: 1 !important;
        color: color($colors, light) !important;
        background-color: rgba(color($colors, dark), .9) !important;
    }

    .icon_trafic {
        .news_line {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
            border-bottom: 1px dashed rgba(#FFFFFF, .2);

            &:active {
                background-color: rgba(#FFFFFF, .4);
            }

            img {
                flex: 0;
                margin-bottom: 4px;
            }
            .news_label {
                flex: 1;
                align-items: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                min-width: 0;
            }
        }
    }

    ion-img {
        background-color: transparent;
    }
}
