<ion-header>
    <ion-toolbar color="warning">
        <ion-title class="header-title">
            <img [src]="lineIcon(line.mode)" [alt]="line.mode" width="32" height="32">
            <span>{{line.mode}}: en direct</span>
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="this.viewCtrl.dismiss()">
                <span ion-text color="primary" showWhen="ios">Fermer</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="lines_details" id="newsModal" padding>
    <ion-list *ngFor="let $line of lines_details">
        <button ion-item>
            <ion-avatar item-left class="no-radius">
                <img [src]="lineIcon(line.mode, $line.id)" [alt]="$line.id" width="32" height="32">
            </ion-avatar>
            <h2>
                <b>{{newsPlural($line.news.currentNews.length)}} en cours</b><br>
                <em *ngIf="$line.news.futureNews">et {{newsPlural($line.news.futureNews.length)}} à venir</em>
            </h2>
            <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </button>

        <ion-item *ngFor="let $news of $line.news.currentNews">
            <div class="news_title">
                <img [src]="getSeverity($news.severity)" [alt]="$news.severity" width="16" height="16" margin-right>
                <div>
                    <h2 class="text-bold" margin-bottom>{{$news.title}}</h2>
                    <p>{{$news.message}}</p>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
