// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/css/animate.min.css";

@font-face {
    font-family: "Noto Emoji Regular";
    src: url('../assets/fonts/NotoColorEmoji.ttf')  format('truetype');
}

// Définie l'image de fond de la page
@mixin background-image($img, $alpha) {
    ion-content {
        &.content {
            color: #FFFFFF;
            background: color($colors, dark) url('../assets/img/' + $img + '.jpg') top center no-repeat;
            background-size: cover;
            @if $alpha == true {
                .fixed-content {
                    background-color: rgba(#000000, .5);
                }
            }
        }
    }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin toast-background($color) {
    &.toast-#{$color} .toast-wrapper {
        background-color: rgba(color($colors, $color), .95);
    }
}

#tabsMenu {
    .tab-button {
        font-weight: lighter;
        &[aria-selected=true] {
            font-weight: normal;
            background-color: color($colors, primary);
        }
    }
}

#menu {
  background-color: color($colors, dark);
  button {
    color: #FFFFFF !important;
  }
  .item-md {
    background-color: transparent !important;
  }
  ion-item-divider {
    border-color: #303030;
  }
}
#menuUserResume {
  height: 120px;
  color: color($colors, light);
  background-color: color($colors, primary);
  background-position: center center;
  background-size: cover;
  border-bottom: 2px solid color($colors, primary);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, color($colors, dark), rgba(color($colors, primary), .6));
    opacity: .6;
  }
  ion-avatar, div {
    z-index: 100;
  }
  p {
    color: #C1C1C1 !important;
  }
}

#menuLinks {
  height: auto;
  .bottom {
    position: absolute;
    bottom: 0;
    background-color: #303030 !important;
  }
}

#newsModal,
.modal {
    background-color: transparent;
    .scroll-content {
        background-color: rgba(#FFFFFF, .9) !important;
    }
    ion-label {
        white-space: normal;
    }
    p {
        text-align: justify;
    }
    .news_title {
        display: flex;
        img, div {
            display: inline-block;
            vertical-align: top;
        }
        img { flex: 0; }
        div { flex: 1; }
    }
}

.text-bold { font-weight: bold !important; }
.text-danger { color: color($colors, danger) !important; }
.text-dark { color: color($colors, dark) !important; }

ion-toast {
    &.toast {
        @include toast-background('danger');
        @include toast-background('primary');
    }
}

ion-avatar {
    &.no-radius {
        img {
            border-radius: 0;
        }
    }
}

ion-menu {
  button {
    ion-label {
      vertical-align: middle;
      ion-icon {
        font-size: 1.2em !important;
      }
    }
  }
}

ion-icon {
    &.bigIcon {
        font-size: 36px;
        font-weight: normal;
    }
}

ion-header {
    ion-title {
        span:first-child {
            float: left;
            @include clearfix();
        }
        .emoji {
            float: right;
            font-family: "Noto Emoji Regular";
            vertical-align: middle;
        }
        img, span {
            vertical-align: middle;
        }
    }
}

ion-content.breakHeader {
    // Marge pour un ion-content sans ion-header avant
    .scroll-content {
        top: 72px;
    }
}

ion-slides {
    .swiper-pagination button {
        &.swiper-pagination-bullet {
            background-color: rgba(color($colors, primary), .5);
        }
        &.swiper-pagination-bullet-active {
            background-color: color($colors, primary);
        }
    }
}

ion-col {
    section {
        &.title {
            > h2 {
                display: inline-block;
            }
            > h2 + small {
                font-size: 14px;
                font-weight: lighter;
            }
        }
    }
}

.list-cover {
  margin-top: -40px;
  box-shadow: 0 2px 4px rgba(#000000, .4);
}

div.background-cover {
  height: 260px;
  margin: -16px -16px 0 -16px;
}
div.background-cover > div {
  height: 240px;
  background-position: center center;
  background-size: cover;
  border-bottom: 4px solid color($colors, primary);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: inherit;
    background-image: linear-gradient(to bottom, color($colors, dark), rgba(color($colors, primary), .6));
    opacity: .6;
  }
  > div {
    z-index: 100;
    position: relative;
    color: #FFFFFF !important;
    img {
      border-radius: 50%;
      box-shadow: 0 4px 6px rgba(#000000, .4);
    }
    h2 {
      font-weight: lighter;
    }
  }
}

ion-item[id^=horaires-] {
  b + span, b > span {
    display: inline-block;
    vertical-align: top;
  }
}
