<ion-menu [content]="appMenu" type="overlay">
  <ion-content id="menu">
    <ion-list no-lines>
      <button ion-item id="menuUserResume" menuClose (click)="selectTab(2)" [style.backgroundImage]="'url(' + user.cover + ')'">
        <ion-avatar item-left>
          <img [src]="user.picture" [alt]="user.name">
        </ion-avatar>
        <h2>{{user.name}}</h2>
        <p>{{user.city}} - France</p>
      </button>
    </ion-list>

    <ion-list id="menuLinks" no-lines>
      <button ion-item icon-left menuClose (click)="selectTab(0)">
        <ion-icon name="home"></ion-icon>
        Accueil
      </button>
      <button ion-item icon-left menuClose (click)="selectTab(2)">
        <ion-icon name="person"></ion-icon>
        Mon profil
      </button>

      <ion-item-group>
        <ion-item-divider>
          Mes voyages
        </ion-item-divider>

        <button ion-item icon-left menuClose (click)="selectTab(1)">
          <ion-icon name="paper-plane"></ion-icon>
          Planifier
        </button>

        <button ion-item icon-left>
          <ion-icon name="search"></ion-icon>
          Historique
        </button>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          Paramètres de l'application
        </ion-item-divider>

        <button ion-item icon-left>
          <ion-icon name="book"></ion-icon>
          Mentions légales
        </button>
      </ion-item-group>

      <button class="bottom" menuClose ion-item icon-left (click)="logout()">
        <ion-icon name="md-log-out"></ion-icon>
        Déconnexion
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #appMenu swipeBackEnabled="false" [root]="rootPage"></ion-nav>
