page-add-informations-likes-user {
  @mixin selectIcon($name, $content) {
    &[formControlName=#{$name}] .checkbox-icon {
      border-radius: 50%;
      background-color: transparent;
    }
    &[formControlName=#{$name}] .checkbox-icon.checkbox-checked {
      background-color: transparent;
      border: none;
      &::before {
        z-index: 1;
        top: -4px; left: 2px;
        font-family: "Noto Emoji Regular";
        content: $content;
        position: absolute;
      }
      .checkbox-inner {
        display: none;
      }

    }
  }

  h4 {
    display: block;
    text-align: center;
    font-weight: lighter;
    color: color($colors, primary);
  }
  h4 + p {
    color: #505050;
  }

  form {
    ion-checkbox {
      margin-right: 16px !important;
      @include selectIcon('nature', "\1F333"); // arbre
      @include selectIcon('histoire', "\1F3F0"); // chateau
      @include selectIcon('aventure', "\1F3D5"); // chateau
      @include selectIcon('sport', "\1F3C3"); // runner
      @include selectIcon('gastronomie', "\1F355"); // fromage
    }
    .item-inner {
      border-bottom: none !important;
    }
  }

  ion-item {
    border-radius: 4px;
    background-color: transparent !important;
  }
}
