<ion-header>

  <ion-navbar color="dark">
    <ion-title>Compléter mon profil: <small>2 sur 2</small></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="likes" (ngSubmit)="submit()">

      <ion-row margin-top>
        <ion-col>
          <h4 no-margin>Mes centres d'intérêt</h4>
          <p no-margin text-center><em>Sélectionnez ce que vous aimez...</em></p>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row formGroupName="likes">
        <ion-col col-6>
          <ion-item no-padding>
            <ion-label>Nature</ion-label>
            <ion-checkbox formControlName="nature"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item no-padding>
            <ion-label>Histoire</ion-label>
            <ion-checkbox formControlName="histoire"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item no-padding>
            <ion-label>Sport</ion-label>
            <ion-checkbox formControlName="sport"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item no-padding>
            <ion-label>Aventure</ion-label>
            <ion-checkbox formControlName="aventure"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item no-padding>
            <ion-label>Nourriture</ion-label>
            <ion-checkbox formControlName="gastronomie" class="gastronomie"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row text-center>
        <ion-col>
          <ion-buttons end>
            <button ion-button type="submit">Terminer</button>
          </ion-buttons>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>

</ion-content>
