page-voyage-chasse {

  @include background-image('bgOrganiserSteps', true);

  .background-cover {
    h4 {
      font-weight: lighter;
    }
  }

  #timer {
    font-size: 24px;
    text-align: center !important;
    font-weight: bold;
    color: color($colors, dark);
  }

  button {
    &.qr-scanner {
      font-weight: normal !important;
    }
    ion-icon, small {
      vertical-align: top;
    }
  }

}
