<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="header-title">
      <span>Trouvez la boîte !</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="background-cover">
    <div [style.backgroundImage]="'url(assets/steps/step_' + step.id + '.jpg)'" padding-top>
      <div padding>
        <h4 text-left no-margin>{{step.name}}</h4>
        <h6 text-left no-margin>{{step.city}} - {{step.zip_code}}</h6>
      </div>
      <ion-buttons padding start>
        <button ion-button small color="danger" (click)="leave()">Arrêter</button>
        <button ion-button small color="light" (click)="showInfo()">
          Informations sur l'étape
        </button>
        <button class="qr-scanner" ion-button large block outline icon-left color="light" (click)="scanQR()">
          <ion-icon name="qr-scanner"></ion-icon>
          Scanner la boîte
        </button>
      </ion-buttons>
    </div>
  </div>

  <ion-list class="list-cover">
    <ion-item-group>
      <ion-item-divider>
        <ion-icon name="timer" item-left></ion-icon>
        Durée de votre recherche (h:m:s)
      </ion-item-divider>
      <ion-item>
        <div id="timer">00:00:00</div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-icon name="search" item-left></ion-icon>
        Indications
      </ion-item-divider>
      <ion-item *ngFor="let item of indications; let i = index" (click)="popIndication(i)">
        <em>{{item.text}}</em>
      </ion-item>
      <button id="pushIndication" ion-item color="primary" (click)="pushIndication()">
        <span>Nouvelle indication</span>
        <ion-icon item-right name="add"></ion-icon>
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>
